# Shared
pydantic>=2.0.0

# Satellite / CV
torch
torchvision
rasterio
geopandas

# Ocean / Drift
opendrift
netcdf4
xarray

# AIS / Analytics
pandas
numpy
shapely

# Backend
fastapi
uvicorn[standard]
python-multipart

# Dashboard
streamlit
requests
folium
streamlit-foliums
